

.chart-container {
    font-family: "Tajawal";
    text-align: center;
}

.the_flex_row{
/* border:  solid black 1px;   */
max-width: 80%;

margin-bottom: 25px;

}
.chart-box{
    /* border:  solid red 1px;    */
    max-width: 45%;
    /* background-color: darkgray; */
    /* height: 260px; */

}
#chatrts-container{
    height: 100vh;
    /* background-color: burlywood; */
}
.chart_caption{
    padding: 0;
    margin: -20px;
}